* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 3rem auto 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 1.3rem;
    color: #ff5722;
    text-transform: uppercase;
}

form {
    display:flex;
    align-items: center;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.2rem;
    background-color: #eeeeee;
    border-radius: 1rem;
    
}

[contentEditable] {
    outline: 0px solid transparent;
}

#input-text {
    flex-basis: 94%;
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: #eeeeee;
}

#input-text:focus {
    outline: none;
}

.add-task {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.add-task:hover {
    background-color: #222831;
    color: white;
}

.add-task:active {
    background-color: #222831;
    box-shadow: 0 1px rgb(80, 80, 80);
    
    transform: translateY(4px);
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 2rem auto 0 auto;
}

.all-task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    gap: 5px;
    width: 100%;
    margin: 0 auto;
}

.added-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 1rem;
    border-radius: 1rem;
}

.remove {
    padding-left: 1rem;
}

.remove-button {
    display:block;
    border-radius: 50%;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #222831;
    color: white;
}

.remove-button:active {
    background-color: #222831;
    box-shadow: 0 3px rgb(80, 80, 80);
    transform: translateY(4px);
}

/* .save-div {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.save-button {
    font-size: 1.6em;
    color: white;
    background-color: #6CA468;
    border-radius: 1rem;
    cursor: pointer;
}

.save-button:hover {
    background-color: #a3f49d;
    color: white;
}

.save-button:active {
    background-color: #6CA468;
    box-shadow: 0 1px rgb(80, 80, 80);
    transform: translateY(4px);
} */

@media screen and (max-width: 475px) {
    
    .form-div {
        padding-right: 0;
    }

    #input-text {
        width: 50%;
    }

    .added-task {
        padding-right: 0;
    }
}

@media screen and (max-width: 241px) {

    #input-text::placeholder {
        color: transparent;
    }
}